---
import Layout from "@/layouts/Layout.astro"

import QuotesList from "@/components/Quotes.astro"
import QuoteIcon from "@/components/icons/Quote.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import SectionDescription from "@/components/SectionDescription.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Words I keep close - Alejandro"
  description="Phrases from books, videos, and people I admire."
>
  <main id="main-content" class="px-4">
    <SectionContainer id="quotes" class="py-24 md:py-36">
      <TitleSection>
        <QuoteIcon class="size-8" />
        Words I keep close
      </TitleSection>
      <SectionDescription>
        Phrases from books, videos, and cool things I've encountered. <br/><br/>Some are
        in English, some in Spanish, but all of them have been meaningful to me.
      </SectionDescription>
      <QuotesList />
    </SectionContainer>
  </main>
</Layout>
