---
const personalImageAlt = "Manuel Alejandro Sáez Palominos";
import { Image } from 'astro:assets';
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Manuel Alejandro, but my friends call me Jano. a former
      professional wrestler who had the opportunity to perform on international
      stages like WWE 🇺🇸 and Pro Wrestling NOAH 🇯🇵.
    </p>

    <p>
      My time in the ring taught me the power of storytelling, discipline, and
      visual impact—lessons I now apply to the creative and digital world.
    </p>

    <p>
      Beyond wrestling, I’m a passionate creative focused on UI/UX design and
      web development, <strong
        >crafting digital products that blend platforms to tell stories, inspire
        action, and drive meaningful change.</strong
      >
    </p>

    <p>
      Driven by a deep curiosity for solving problems through visual design, I
      consider myself a lifelong learner — constantly building on my design
      expertise and expanding my knowledge in software development through
      ongoing courses and professional growth.
    </p>
  </div>

  <Image
    src="/jano.webp"
    alt={personalImageAlt}
    loading="lazy"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
    decoding="async"
    width={200}
    height={200}
    fetchpriority="low"
    sizes="(max-width: 200px) 100vw, 200px"
    />
</article>