---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "At the moment",
    title: "Founder & Creative Director",
    company: "Estudio Creativo FAIO",
    description:
      "FAIO is a creative studio that specializes in creating audiovisual content and digital products. I lead a team of multidisciplinary professionals. Working with big clients in Chile like: Soprole, Falabella, Correos Chile and more.",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "July 2022 - January 2024",
    title: "UX Engineer",
    company: "RendaloMAQ",
    description:
      "I were part of a team that developed a web application for managing and renting construction machinery. I focused on creating a user-friendly interface, conducting user research, and implementing design systems to enhance the overall user experience. I also collaborated as developer to ensure the application met the needs of both users and stakeholders.",
    link: "https://www.rendalomaq.cl/",
  },
  {
    date: "October 2017 - At the moment",
    title: "Founder & Creative Director",
    company: "Club Deportivo 5 Luchas Clandestino",
    description:
      "I led creative direction for digital products, overseeing content from concept to production. Seeking to promote the art of wrestling in Chile, I created a platform for athletes to showcase their skills and connect with fans. Incresing sells, retention, visibility and brand recognition.",
      link: "https://5luchas.cl",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
