---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "At the moment",
    title: "Founder & Creative Director",
    company: "Estudio Creativo FAIO",
    description:
      "I create and edit video content for e-learning and digital platforms, adding motion graphics and visual effects with After Effects. I collaborate with creative teams to craft engaging visual stories and build landing pages that help small businesses grow their online presence.",
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "July 2022 - January 2024",
    title: "UX Engineer",
    company: "RendaloMAQ",
    description:
      "I design user-focused digital experiences with intuitive interfaces. I led the creation of a data visualization feature using Next.js and optimized UI to boost engagement and landing page traffic. I also collaborated with the marketing team to enhance the website's SEO and improve user experience.",
    link: "https://www.rendalomaq.cl/",
  },
  {
    date: "October 2017 - At the moment",
    title: "Founder & Creative Director",
    company: "Club Deportivo 5 Luchas Clandestino",
    description:
      "I led creative direction for audiovisual and design projects, overseeing content from concept to post-production. I integrated APIs for payments and delivery for the ecommerce, boosting revenue, and ensured consistent branding while applying UX principles to improve digital product interaction.",
      link: "https://5luchas.cl",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
