---
const currentYear = new Date().getFullYear();
---

<footer
  class="container m-4 mx-auto mt-16 mb-10 flex w-full justify-center opacity-80 min-[375px]:pl-4 md:max-w-2xl md:pl-0 lg:max-w-4xl"
>
  <div
    class="mx-auto w-full max-w-screen-xl rounded-lg py-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-zinc-800/90 sm:text-center dark:text-zinc-200/90"
      >{currentYear}
      <a href="https://saez.me/" class="hover:underline">saez.me</a>
    </span>
  </div>
</footer>
